<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Laravel Khoa Pham</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.css">
    <script src="js/jquery-3.5.1.js"></script>
    <script src="bootstrap-4.5.0-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-5.14.0-web/css/all.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0.jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="main.css"> 
</head>

<body>

    <!-- Navigation -->
<div class="container">
    <header class="header-main">
        <div class="top">
            <div class="logo">
                <a href="" title="" class="">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="form-search">
                <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <span class="glyphicon glyphicon-search"></span>
                </form>
            </div>
            
            <div class="title">
                <h3>Thiết kế nội thất chuyên nghiệp</h3>
                <p style="font-family:initial;font-style: italic; text-align: center;">Thiết kế công trình nôi thất uy tín</p>
            </div>

            <div class="hotline">
                <p style="color: red; font-weight: bold;font-size: 18px; ">
                    <span class="glyphicon glyphicon-earphone"></span> 01234xxxxx</p>
            </div>
        </div>
    </header>   
</div>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class=" active">
                        <a class="nav-link" class="active" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Thiết kế nội thất
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="index.php">Nội thất chung cư</a>
                          <a class="dropdown-item" href="#">Nội thất nhà ở</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Nội thất biết thự</a>
                          <a class="dropdown-item" href="#">Thiết kế kiến trúc</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Thiết kế cửa hàng
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Cửa hàng thời trang</a>
                          <a class="dropdown-item" href="#">Cửa hàng mỹ phẩm</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Cửa hàng điện thoại</a>
                           <a class="dropdown-item" href="#">Siêu thị-tạp hóa</a>
                        </div>
                    </li>   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Thiết kế Showroom
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Shop điện máy</a>
                          <a class="dropdown-item" href="#">Thiết kế nhà sách</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Shop mỹ phẩm - Spa</a>
                           <a class="dropdown-item" href="#">Cửa hàng vật liệu xây dựng</a>
                        </div>
                    </li>   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Thiết kế nhà hàng
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Thiết kế nhà hàng</a>
                          <a class="dropdown-item" href="#">Thiết kế quán cà phê</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Cửa hàng ăn uống</a>
                          <a class="dropdown-item" href="#">Cửa hàng bánh ngọt</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tư vấn</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>   
                </ul>
        </div>
</div>
<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1>Blog Post Title</h1>
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p>s
                <div class="col-lg-6">
                    <img src="img/cc1.jpg" width="350" id="mian-img" />
                    <p>
                        <img src="img/cc4.jpg" width="90" />
                        <img src="img/cc3.jpg" width="90" />
                        <img src="img/cc5.jpg" width="90" />
                    </p>
                    <script src="js/jquery-3.5.1.js"></script>
                    <script>
                        $(()=>{
                            $('p img').click(function(){
                                let imgPath = $(this).attr('src');
                                $('#mian-img').attr('src', imgPath);
                            })
                        })
                    </script>
                </div>
                <div col-lg-6>
                    <p class="tieude dtct"> <span class="giatri">Bàn làm việc AT120S</span></p>
                    <p class="gia dtct" id="giachitiet"><span class="nhan">Giá :</span> <span class="giatri">670.000 VND</span><input type="hidden" id="price_raw" value="670.000"></p>
                    <div class="mota dtct"> <span class="giatri">Giá có thuế VAT:737.000</span></div>
                    <p class="donvi dtct"> <span class="giatri"></span></p>
                    <div class="thuoctinh3 dtct"><span class="nhan">Nhà sản xuất :</span> <span class="giatri">Công ty Cổ Phần Nội Thất Hòa Phát</span></div>
                    <p class="baohanh dtct"><span class="nhan">Bảo hành :</span> <span class="giatri">12 Tháng</span></p>
                    <div class="thuoctinh1 dtct"><span class="nhan">Tình trạng :</span> <span class="giatri">Còn hàng</span></div>
                    <p class="likefacebook dtct">
                    <iframe width="150" src="" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px;" allowtransparency="true"></iframe>
                  
                    </p>
                     <div class="row">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
            Liên hệ
          </button>
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md5 col-lg-5 block-image">
                          <img src="img/thongbao.jpg" class="img-responsive" />
                        </div>
                        <div class="col-md-6 col-lg-6 block-contact">
                            <h3>Xin điền thông tin</h3>
                            <form>
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Nhập họ tên"/>
                                </div>

                                <div class="form-group">
                                  <input type="email" class="form-control" placeholder="Nhập E-mail"/>
                                </div>

                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Nhập só điện thoại"/>
                                </div>

                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Nhập địa chỉ"/>
                                </div>
                                <button type="submit" class="btn btn-success pull-left">Gửi</button>
                            </form>
                        </div>

                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                </div>
                <div class="comment">
                    <div class="well">
                    <h4>Viết bình luận ...<span class="glyphicon glyphicon-pencil"></span></h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Gửi</button>
                    </form>
                    </div>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                </div>
                    
            </div>


            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading"><b>Sản phẩm liên quan</b></div>
                    <div class="panel-body">

                        <!-- item -->
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-5">
                                <a href="detail.html">
                                    <img class="img-responsive" src="image/320x150.png" alt="">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <a href="#"><b>Project Five</b></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="break"></div>
                        </div>
                        <!-- end item -->

                        <!-- item -->
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-5">
                                <a href="detail.html">
                                    <img class="img-responsive" src="image/320x150.png" alt="">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <a href="#"><b>Project Five</b></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="break"></div>
                        </div>
                        <!-- end item -->

                        <!-- item -->
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-5">
                                <a href="detail.html">
                                    <img class="img-responsive" src="image/320x150.png" alt="">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <a href="#"><b>Project Five</b></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="break"></div>
                        </div>
                        <!-- end item -->

                        <!-- item -->
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-5">
                                <a href="detail.html">
                                    <img class="img-responsive" src="image/320x150.png" alt="">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <a href="#"><b>Project Five</b></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="break"></div>
                        </div>
                        <!-- end item -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>
<div container-fluid>
<footer  style = "background-color: #7f3e0e;"class="page-footer font-small mdb-color lighten-3 pt-4">

    <div class="container text-center text-md-left" >
        <div class="row" style="border: none;">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>
                <p>CÔNG TY CỔ PHẦN KIẾN TRÚC NỘI THẤT HOT
                    Địa chỉ : Tầng 26 Tòa Bắc Hà C37, số 17 Tố Hữu, Hà Nội
                    Hotline : 0944.266.299
                    Xưởng sản xuất : Đường Sông Nhuê ,Xã Tân Lập – Hà Nội
                    Liên hệ: noithathot@gmail.com</p>
            </div>
            <!-- <hr class="clearfix w-100 d-md-none">
                  <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                              <a href="#!">PROJECTS</a>
                            </p>
                        </li>
                        <li>
                            <p>
                              <a href="#!">ABOUT US</a>
                            </p>
                          </li>
                        <li>
                            <p>
                              <a href="#!">BLOG</a>
                            </p>
                          </li>
                        <li>
                            <p>
                              <a href="#!">AWARDS</a>
                            </p>
                        </li>
                    </ul>

                  </div> -->

                  <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                <ul class="list-unstyled">
                  <li>
                    <p>
                      <i class="fas fa-home mr-3"></i> Tầng 26 Tòa Bắc Hà C37, số 17 Tố Hữu, Hà Nội</p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-envelope mr-3"></i>noithathot@gmail.com</p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                  </li>
                  <li>
                    <p>
                      <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                  </li>
                </ul>

            </div>
                  <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
                    <a type="button" class="btn-floating btn-fb">
                        <i class="fab fa-facebook-f"></i>
                    </a>
               
                    <a type="button" class="btn-floating btn-tw">
                        <i class="fab fa-twitter"></i>
                    </a>
              
                    <a type="button" class="btn-floating btn-gplus">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                  
                    <a type="button" class="btn-floating btn-dribbble">
                        <i class="fab fa-dribbble"></i>
                    </a>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://noithathot.com"> noithathot.com</a>
    </div>
</footer>
</div>
    <!-- end Footer -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/my.js"></script>

</body>

</html>
